@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&family=Roboto&family=Roboto+Mono:ital@1&family=Ubuntu&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    position: relative;
}
.hero {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/955/69/70/minimalism-space-stars-wallpaper-preview.jpg');
}
.hero h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Roboto',sans-serif;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgjn6UKNMQlj0xgcIU79BQwvHxdpYsjGBr8Q&usqp=CAU');
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.hero p {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.container {
    height: 100%;
    width: 100%;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    justify-items: center;
    align-content: center;
}
.movie {
    height: 300px;
    width: 200px;
    margin: 3em;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    background-color: rgba(0,0,0,0.5);
}
.movie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.movie h3 {
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    text-align: center;
    padding: .1re
}
.paginacion {
    height: 60px;
    width: 100%;
    background-color: #222;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.paginacion button {
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #018d81;
    margin: 0rem .5rem;
    padding: .2rem .5rem;
}
.paginacion button:hover {
    background-color: #016a81;
}
.paginacion button:active {
    background-color: #018f82;
}
.paginacion span {
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}